<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebChat</title>
    <link rel="stylesheet" href="/static/styles/estilo1.css">
    <title>Cadastro</title>
    <script>
        let socket = io()
     
     socket.on('atualizar_lista', function() {
         location.reload()
     });
    </script>      
</head>
<body>
    <div class="conteudo">
            <h2>Login</h2>
    
        <form action="/login" method="post">
            <div class="campo-form"> 
                <label for="usuario">Usuário:</label>
                <input type="text" name="usuario" placeholder="Digite seu nome" required>
            </div>

            <div class="campo-form">
                <label for="senha">Senha:</label>
                <input type="password" name="senha" placeholder="Digite sua senha" required>
            </div>

            <button class="submit" type="submit">Login</button>
            <p class="signin">Não Possui Cadastro? <a href="/registro">Registre-se</a></p>
        
    </div>
</body>
</html>
